/* Content */

.row {
    display: flex;
    min-height: 100%;
    position: relative;
}

.normal-section {
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background: #421054;
    border-radius: 8px;
    position: relative;
}

.content-section {
    height: 200px;
    margin-bottom: 30px;
    padding: 20px;
    background: #421054;
    border-radius: 8px;
    position: relative;
}

.content-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content-section p {
    font-size: 18px;
    line-height: 1.5;
}

.content-section a {
    color: #fff;
    text-decoration: underline;
    transition: color 0.3s;
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
}

.content-section a:hover {
    color: #fb93ff;    
}

.content-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}